.body {
    min-width: 320px;
    background-color: #DADADA;
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.container {
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    padding-top: 90px;
    margin: 0 auto;
}

.bl-background {
    box-sizing: border-box;
    width: 100%;
}

.bl-search-list {
    float: left;
    padding: 10px;
    width: 68.125%;
    box-sizing: border-box;
}

.bl-list {
    width: 100%;
    float: left;
    margin-right: 0%;
    border-radius: 5px;
    box-sizing: border-box;
    background: white;
    background-color: white;
}

.bl-cont-bought {
    float: left;
    padding: 10px;
    width: 31.825%;
    box-sizing: border-box;
}

.bl-search {
    padding: 12px;
    padding-bottom: 16px;
    box-sizing: border-box;
    float: left;
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
}

.bl-bought {
    width: 100%;
    border-radius: .28571429rem;
    box-sizing: border-box;
    float: left;
    background: white;
}

.bl-row {
    vertical-align: middle;
    padding: 13px;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: inherit;
    border-bottom: 1px solid lightgray;
    width: 100%;
    display: block;
    float: left;
}

.bl-product {
    padding: 7px;
    vertical-align: middle;
    box-sizing: inherit;
    font-size: 15px;
    /*padding-left: 13px;*/
    /*padding-bottom: 1rem;*/
    /*padding-top: 1rem;*/
    /*padding-left: 1rem;*/
    float: left;
    display: inline-block;
    width: 25%;
}

.product-rename {
    padding: 7px;
    box-sizing: border-box;
    float: left;
    /*padding-left: 13px;*/
    /*padding-bottom: 1rem;*/
    /*padding-top: 1rem;*/
    width: 25%;
}

.bl-count {
    font-size: 12px;
    /*padding-top: 7px;*/
    text-align: center;
    float: left;
    display: inline-block;
    width: 37.5%;
}

.bl-buttons {
    box-sizing: inherit;
    text-align: right;
    float: left;
    display: inline-block;
    width: 37.5%;
}

.field-product {
    border-radius-topleft: 5px;
    border-radius-bottomleft: 5px;
    width: 100%;
    border: 1px solid rgba(34, 36, 38, .15);
    padding: .67861429em 1em;
    /*max-width: 100%;*/
    /*float: left;*/
}

.button-add {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #2185D0;
    color: white;
    float: right;
    padding-top: .53846154em;
    padding-bottom: .53846154em;
    width: 60px;
}

.bl-segment-lost {
    padding-left: 20px;
    border-radius: .28571429rem .28571429rem 0 0;
}

.bl-segment-lost-elems {
    padding-left: 20px;
    padding: 14px;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

.bl-segment-here {
    border-top: 1px solid rgba(34, 36, 38, .15);
    padding-left: 20px;
}

.bl-segment-here-elems {
    padding-left: 20px;
    padding: 14px;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

/*Кнопки*/

.remove-button {
    border-radius: 5px;
    background-color: #DB2828;
    color: #FFF;
    font-size: .71428571rem;
    padding: 0.8em 1em 0.8em;
    border: none;
}

.remove-icon {
    content: "\f00d";
    font-size: 1em;
    font-style: normal;
    font-family: Icons;
    width: 1.18em;

}

.nobuy-button {
    padding: 10px 15px 11px;
    border: none;
    border-radius: 5px;
    margin: 0 .25em 0 0;
    color: rgba(0, 0, 0, .6);
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
}

.buy-button {
    display: none;
    padding: 10px 15px 11px;
    border: none;
    border-radius: 5px;
    margin: 0 .25em 0 0;
    color: rgba(0, 0, 0, .6);
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
}

.icon-minus {
    box-sizing: border-box;
    font-weight: 900;
    font-family: Icons;
    font-size: 20px;
}

.bl-minus {
    text-align: center;
    padding: 1em 1em 1.15em;
    height: 10px;
    width: 10px;
    line-height: 1em;
    box-shadow: none;
    border: none;
    /*opacity: 0.45;*/
    box-sizing: inherit;
    font-size: .71428571rem;
    font-weight: 900;
    border-radius: 10em;
    background-color: #fa969b;
    color: #FFF;
}

.bl-label {
    box-sizing: border-box;
    padding: .5833em .833em;
    /*padding-bottom: 8px;*/
    margin: 0 .14285714em;
    /*margin-top: 30px;*/
    border-radius: 7px;
    background: #cdcbcb;
    padding-left: 10px;
}

.icon-plus {
    font-weight: 900;
    font-family: Icons;
    font-size: 20px;
    font-family: Icons;
}

.bl-plus {
    padding: 1em 1em 1.15em;
    height: 10px;
    width: 10px;
    line-height: 1em;
    box-shadow: none;
    border: none;
    box-sizing: inherit;
    font-size: .71428571rem;
    font-weight: 900;
    border-radius: 10em;
    background-color: #21BA45;
    color: #FFF;
}

.elem {
    margin: 3px;
    line-height: 1em;
    display: inline-block;
    border-radius: .28571429rem;
    font-size: .64285714rem;
    padding: .5833em .833em;
    background-color: #E8E8E8;
}

.elem-title {
    border-radius: .28571429rem;
}

.elem-icon {
    padding: 5px;
    display: inline-block;
    font-size: .64285714rem;
    line-height: 1em;
    vertical-align: middle;
    text-align: center;
    border-radius: 500rem;
    min-width: 1em;
    min-height: 1em;
    color: #FFF;
    background: #F2711C;
}

.h3 {
    padding: 0;
    margin: 0;
}

.badge {
    position: fixed;
    bottom: -130px;
    left: 20px;
    right: 0px;
    padding: 5px;

    width: 130px;
    height: 180px;

    color: white;
    background: blueviolet;

    text-align: center;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    font-size: 30px;
    font-family: Tahoma;

    transition: all 1s ease;
}

.badge:hover {
    transform: translateY(-100px);
    background: blue;
}

.badge .created {
    padding-left: 10px;
    text-align: left;
    margin-top: 25px;
    font-size: 12px;
}

.badge .by-me {
    padding-left: 10px;
    text-align: left;
    font-size: 17px;
}

.mac-fix {
    width: 100%;
    height: 200px;

    position: fixed;
    left: 0px;

    bottom: -200px;

    background: blueviolet;
}

@media print {
    .badge .title {
        display: none;
        color: black;
    }

    .badge .created {
        margin-top: 0px;
    }

    .badge {

        border: 3px solid blueviolet;
    }

}

@media (max-width: 600px) {
    .bl-search-list {
        width: 100%;
    }

    .bl-list {
        width: 100%;
    }

    .bl-cont-bought {
        width: 100%;
    }

    .bl-bought {
        width: 100%;
    }
}

/*button:after {*/
    /*transition: all 1s ease;*/

    /*content: "";*/
    /*font-weight: 400;*/

    /*position: absolute;*/
    /*height: 25px;*/
    /*width: 100px;*/

    /*top: 15px;*/
    /*left: 50%;*/

    /*transform: scale(0);*/
    /*transform-origin: left;*/
    /*border-radius: 10px;*/

    /*color: white;*/
    /*background: blueviolet;*/
/*}*/

/*button:hover::after {*/
    /*font-size: 10px;*/
    /*!*scale: 10;*!*/
    /*transform: translateY(50px);*/
    /*content: "TT: " attr(data-tooltip);*/
    /*transition: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);*/
    /*transform: scale(1);*/
    /*position: absolute;*/
    /*!*height: 25px;*!*/
    /*!*width: 100px;*!*/

    /*color: white;*/
    /*!*margin: auto;*!*/
    /*!*left: 50%;*!*/
    /*margin-left: -50px;*/
    /*top: -35px;*/
    /*!*background: blueviolet;*!*/
/*}*/

button {
    position: relative;
}
